<!--------HEADER---------->

<header>

  <mat-toolbar color="primary">
    <img src="../../assets/imgCalcio.png"  width="30" height="30">
    <span>Formazione</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
</header>

<!------------------>

<div *ngFor="let player of formation">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="card-title">{{ player.name }}</mat-card-title>
      <mat-card-subtitle>{{ player.lastname }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ player?.photo }}">
    </mat-card>
</div>

