.example-spacer {
  flex: 1 1 auto;
}

.cards-body {
  width: 100vw;
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.player-card {
  width: 12rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.player-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all .5s;
}

.card-title, .card-subtitle {
  text-align: center;
}

.card-title {
  font-size: 1rem;
  line-height: 1;
}

.player-image {
  padding: 10px;
  border-radius: 20px;
}

.player-content {
  padding: 1rem;
}

.loader {
  margin: 1rem;
  width: 100vw;
}
